<div class='full-stack-title'>
  <div class='title-center' data-stellar-ratio=".28">
    <div class='bold-title'>
      <h1>Ryan Hamill</h1>
    </div>
    <div class='slim-title'>
      <h1>Full Stack Developer</h1>
    </div>
  </div>
  <div class='skills-top' data-stellar-ratio=".55">
    <h5>Ruby</h5>
    <h5>Rails</h5>
    <h5>SQL</h5>
    <h5>JavaScript</h5>
    <h5>HTML</h5>
    <h5>CSS</h5>
  </div>
</div>
<div class='highchart'>
  <%= high_chart("highchart_id", @chart) %>
  <h5>Git Commits by Project</h5>
</div>
<div class='project-index'>
  <% @projects.each do |project| %>
    <div class='project'>
      <%= link_to( image_tag(project.index_image), project.url) %>
      <div class='project-white'>
        <h2><%= project.project_name %></h2>
        <h4><%= project.sub_title %></h4>
        <h5><%= project.tech %></h5>
        <h3><%= project.description %></h3>
        <h3>
          <%= link_to('visit the project', project.url) %>
          <span>|</span>
          <%= link_to('project git repo', project.github) %>
        </h3>
        <h3>
          completed
          <%= project.completion_date.strftime("%B") %>
          <%= project.completion_date.year %>
        </h3>
      </div>
    </div>
  <% end %>
</div>
<div class='white-scroll grey-media'></div>
<div class='about-me'>
  <div class='about-space'></div>
  <div class='about-white'>
    <div class='me-pic'>
      <img src="http://i.imgur.com/CGvjgvM.jpg" title="source: imgur.com" />
    </div>
    <div class='bio'>
      <h2>bio</h2>
      <p>Having learned SQL and how enterprise data warehouses work on the job, I went to General Assembly to learn the front end and how to build full stack solutions. I enjoy weaving data and UX together so that users can benefit from a seamless experience. Most recently I built an application that charts the sales of my Amazon seller business by utilizing Amazon's MWS API.</p>

      <h2>process</h2>
      <p>Whether creating applications, databases or spaces, cohesive design and precise execution have always been my cornerstone. This starts with building a relationship with my customers, and ensuring every aspect of the project supports their aspirations.</p>
    </div>
    <div class='skill bio'>
      <h2>skills</h2>
      <h5><strong>Languages</strong></h5>
      <p>Ruby, Python, JavaScript, jQuery, HTML, CSS</p>
      <h5><strong>Frameworks</strong></h5>
      <p>Rails, Node, Express, Angular</p>
      <h5><strong>Database Tools</strong></h5>
      <p>SQL, MySQL, TSQL, SSIS, Teradata, MongoDB, Mongoose, PostgreSQL  </p>
      <h5><strong>Big Data Tools</strong></h5>
      <p>Hadoop, Oozie, HDFS, S3, Spark, Hive, Impala</p>
      <h5><strong>Other</strong></h5>
      <p>Bash, Git, GitHub, Phabricator, RSpec, Jasmine, Bootstrap, Materialize, Photoshop, Illustrator, Tableau</p>
    </div>
  </div>
</div>
