
<h1>
  <%= @project.project_name %>
</h1><br>
<h3>
  <%= @project.sub_title %><br>
  <%= @project.tech %>
</h3><br>
<div class='project-image'>
  <%= image_tag(@project.primary_image) %>
</div><br>
<p>
  <%= @project.description %>
</p><br>
<%= @project.github %><br>
<%= @project.url %><br>
<%= @project.completion_date %>
