<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="
https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag('jquery.stellar.min.js') %>
  </head>

  <body>
    <header>

    </header>

    <%= yield %>

    <footer>
      <div class='footer-top'>
        <a class='links' href="https://github.com/rhamill1">github</a>
        <span class="word-space"></span>
        <a class='links' href="https://www.linkedin.com/in/ryanhamill11">linkedin</a>
        <span class="word-space"></span>
        <a class='links' href="mailto:rhamill11@gmail.com" target="_top">contact</a>
      </div>
      <div class='footer-space'></div>
      <div class='footer-bottom'>
        <p>&#9400; 2017 Ryan Hamill</p>
      </div>
    </footer>
  </body>
</html>
